<div class="coursedetails-container">
<div *ngIf="loading">Loading course...</div>

<div *ngIf="error">{{ error }}</div>

<div *ngIf="!loading && selectedCourse">
  <div class="breadcrumb">
    <a routerLink="/home" routerLinkActive="active">Home</a> › 
    <a routerLink="/Courses" routerLinkActive="active">Courses</a> › 
    <span>{{ selectedCourse.courseName }}</span>
  </div>

  <h1>{{ selectedCourse.courseName }}</h1>
  <p>{{ selectedCourse.description }}</p>
  <h3>Course topics</h3>
  <!-- Show topics -->
<div class="topics" *ngIf="selectedTopics?.length">
  <div *ngFor="let topic of selectedTopics; let i = index" class="topic-card">
    <div class="topic-header" (click)="toggleTopic(i)">
      <div class="topic-number">{{ i + 1 }}</div>
      <div class="topic-info">
        <h2>{{ topic.topicName }}</h2>
        <p>{{ topic.subtopics?.length || 0 }} lessons</p>
      </div>
      <div class="topic-arrow" [class.open]="topic.open">›</div>
    </div>

    <!-- Collapsible content -->
    <div class="subtopics" *ngIf="topic.open">
      <ul>
        <li *ngFor="let sub of topic.subtopics">
      <a [routerLink]="['/subtopics', sub.subTopicId]" (click)="selectSubtopic(sub.subTopicId)" >
        {{ sub.subTopicName }}
      </a> </li>
      </ul>
    </div>
  </div>
</div>


  <!-- Back to Courses button -->
  <div class="back-button">
    <a routerLink="/Courses" class="btn btn-secondary">← Back to Courses</a>
  </div>
</div>

